[package]
name = "rec"
version = "0.5.0"
authors = ["Justin Simerly <justinsimerly1992@gmail.com>"]
description = "Regular Expression Constructor"
license = "MIT"
repository = "https://github.com/jsim2010/rec"
readme = "README.md"
keywords = ["regular", "expression", "constructor"]
categories = ["text-processing", "rust-patterns"]
edition = "2018"

[dependencies]
regex = "1.1.0"

[dev-dependencies]
version-sync = "0.8"
